@import  '../../../../../defaults.styl'
.registro-home-container
    margin-top 100px
    display flex
    justify-content center
    align-items center
    //-background-image linear-gradient(to right, #003B94 , #009A8C)
    margin-bottom 45px
    .registro-home-content
        width 50%
        display flex
        flex-direction column
        justify-content center
        align-items center
        .formulario-home-registro
            .formulario
                .correo
                    height 27px
                    width 242px
                    margin-right 15px
                .btnRegistro
                    color #5a5656
                    font-family Lato
                    font-size 14px
                    font-weight 800
        .titulo
            display flex
            flex-direction column
            justify-content center
            align-items center
            h1
                color white
                margin 0
                font-size 55px
                font-weight 800
            p
                color white