@import  '../../../../../defaults.styl'
.relacionados-inversionista-container
    height 580px
    margin-top 60px
    .relacionados-inversionista-content
        height 580px
        .titulo-inversionista-relacionados
            height 70px
            h4
                font-size 25px
                color gray
                margin 0

