.relacionados-inversionista-container
    .relacionados-inversionista-content
        .titulo-inversionista-relacionados
            h4 También te puede interesar
        sliderProyectosRelacionadosInver