@import  '../../../../../../defaults.styl'
.formulario-content
    width 600px
    @media mediana 
        width 500px
    @media tablet
        width 400px
        height 300px
    @media mobile 
        width 315px
        height 300px
        display flex
        justify-content center
        align-items center
    .formulario
        display flex
        flex-direction column
        height 300px
        @media mobile
            height 293px
        input
            height 50px
        textarea
            resize none
        .mat-raised-button
            margin-top 10px
            width 100px
            background-color #afafaf
            span
                font-size 12px
        .btn-eniviar
            background-image linear-gradient(to right, #003B94 , #009A8C)
            span
                font-size 12px
                color white
                font-weight bold
                @media tablet
                    font-size 12px
                @media mobile
                    font-size 10px