@import  '../../../../../../defaults.styl'
.formulario-content
    width 600px
    .formulario
        display flex
        flex-direction column
        input
            height 50px
        textarea
            resize none
        .mat-raised-button
            margin-top 10px
            width 100px
            background-color #afafaf
            span
                font-size 12px