@import  '../../../../../../defaults.styl'
fichaProyectoMain
    cursor pointer
    &:focus
        outline 0px
.proyectos-grid-main
    .barra
        height 5px
        background-image linear-gradient(to right, #003B94 , #009A8C)