
@import  '../../../../../../defaults.styl'

ngx-slick
	width 100%

.slider-galeria
	//-background-image linear-gradient(to right, #003B94 , #009A8C) !important
	margin-top 25px
	.slider
		height 300px !important
		display flex
		align-items center
		@media mediana
			height 250px !important
		@media tablet
			height 230px !important
		@media mobile
			height 124px !important
		.carousel
			height 300px
				@media mediana
					height 250px 
				@media tablet
					height 230px 
				@media mobile
					height 124px 
			.slick-list
				height 300px
				@media mediana
					height 250px 
				@media tablet
					height 230px 
				@media mobile
					height 124px 
				.slick-track
					height 300px
					@media mediana
						height 250px 
					@media tablet
						height 230px 
					@media mobile
						height 124px 
					.slide
						&:focus
							outline 0px
						.imagen-galeria
							cursor pointer
							width 375px
							height 300px
							@media mediana
								width 312px
								height 250px
							@media tablet
								width 230px
								height 230px
							@media mobile
								width 110px
								height 124px
							img
								width 100%
								height 100%