.slider-galeria
    .slider(*ngIf="proyectos")
        ngx-slick.carousel(#slickModal="slick-modal",   [config]="slideConfigGaleria",  (afterChange)="afterChange($event)"  )
            .slide(ngxSlickItem,  *ngFor="let proyecto of proyectos.items ; index as i ")
                .imagen-galeria((click)="mandarAProyecto(proyecto.id)")
                    img(src="{{proyecto?.portadas[1]?.link}}")