@import  '../../../../../defaults.styl'

.botones
    @media mobile
        display flex
        flex-direction row
        justify-content center
        align-items center
        .btn-irProyecto, .btn-eliminar
            @media mobile
                min-width 30px !important