mat-card.home-inversionistas
    informacionInversionista([proyectos]="proyectos", [fotoPerfil]="fotoPerfil", [fotoAvatar]="fotoAvatar")
    //- metricasInversionista
    proyectosRelacionadosInversionista