mat-card.home-inversionistas
    informacionInversionista([proyectos]="proyectos", [fotoPerfil]="fotoPerfil", [fotoAvatar]="fotoAvatar", [bandera]="bandera")
    //- metricasInversionista
    proyectosRelacionadosInversionista