mat-card.formulario-proyecto-contratista
    .titulo-formulario-proyecto
        h1 Formulario del proyecto: {{proyectos.nombre}}
    formularioproyectos([proyecto]="proyectos", [options]="options", *ngIf="options")