@import  '../../../defaults.styl'
.tool-bar-spacer
    flex 1 1 auto

    
.contenedor
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    h1
        text-align: center
        color white
    .iconoMenu, .btn-usuario
        color white
    .nav-toolbar
        margin: 0% auto
        text-align: center;
.isMobile
    .nav-toolbar
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
    .sidenav-container
        flex: 1 0 auto
.mat-drawer-content .mat-sidenav-content
    margin: 10px

.sidenav-container
    flex: 1;
    

.mat-nav-list .active-nav
    color: #000000;

.mat-drawer-container
    background-color: rgba(255,255,255, 0.1)

.mat-toolbar 
    background-image linear-gradient(to right, #003B94 , #009A8C) !important
    background inherit


.footer
    height 60px !important
    background-image linear-gradient(to right, #003B94 , #009A8C) !important
    display flex
    flex-direction row
    justify-content space-around
    align-items center
    h1
        margin 0
        color white
        font-size 12px