@import  '../../../defaults.styl'
header
    height 80px !important

    mat-toolbar
        height 80px
        display flex
        justify-content space-around
        padding 0 10vw
        .logo
            display flex
            justify-content center
            align-items center
            .logo-content
                display flex
                img
                    height 63px
                    width auto
                    @media tablet
                        height 40px
                    @media mobile
                        height 40px
                h1
                    color gray
        .links
            display flex
            @media mobile
                display none
            .menus
                span
                    font-size 15px
                    font-weight 800
                    color gray
                    &:hover
                        font-size 16px
                        font-weight 800
                        background -webkit-linear-gradient(#009A8C, #003B94)
                        -webkit-background-clip text
                        -webkit-text-fill-color transparent
        .menu
            display flex
            height 40px
            button
                height 40px
            .iniciar-sesion
                width 115px
                background-image linear-gradient(to right, #003B94 , #009A8C)
                line-height 26px
                span
                    font-size 14px
                    color white
                    font-weight bold
                    @media tablet
                        font-size 12px
                    @media mobile
                        font-size 10px
            .avatarbutton
                .avatar-content
                    display flex
                    .avatar
                        border-radius 40px
                        overflow hidden
                        height 36px
                        width 36px
                        background-position center
                        background-size cover
                        margin-right 5px
    button
        color gray


footer
    .footer
        height 80px !important
        background-image linear-gradient(to right, #003B94 , #009A8C) !important
        display flex
        flex-direction row
        justify-content space-around
        align-items center
        @media mobile
            flex-direction column
        @media tablet
            flex-direction column
        .derechos, .contactos, .correo, .telefono
            display flex
            flex-direction row
            justify-content center
            align-items center
        .derechos
            img
                @media mobile
                    width 25px
                    height 25px
            p
                margin 0
                font-size 11px
                color white
                margin-top 20px
                @media mobile
                    margin-left 5px
                    margin-top 0px
        .contactos
            height 40px
            width 417px
            justify-content space-between
            @media mobile
                flex-direction column
                width inherit
            @media tablet
                flex-direction column
                width inherit
            .correo, .telefono
                color white
                @media mobile 
                    height 30px
            .correo
                .mail-icono
                    width 20px
                    height 20px
                    font-size 20px
                p
                    margin 0
                    font-size 14px
                    @media mobile
                        font-size 12px
            .telefono
                .phone-icono
                    width 20px
                    height 20px
                    font-size 20px
                p
                    margin 0
                    font-size 14px
                    @media mobile
                        font-size 12px