@import  '../../../../../defaults.styl'

mat-form-field
    width 100% !important

.chip-container
    margin-top 20px
    .chipcito
        background-image linear-gradient(to right, #003B94 , #009A8C) !important
        p
            color white
            font-size 14px
            font-weight 800
        mat-icon
            color white !important
            opacity 1 !important