@import  '../../../../../defaults.styl'
.seccion-galeria
    .imagen-grande
        width 100%
        height 450px
        @media mediana 
            width 99%
        @media mobile
            height 270px
        img
            width 100%
            height 100%