.input-layout
    width: 100%;
    flex: 1 1 auto;

.contenedor
    display flex
    width 100%
    height 100%
    flex-direction column
    .botones
        justify-content center
        .btn-cancelar, .btn-iniciar
            background-color #d62c2c
            span
                font-size 14px
                color white
                font-weight bolder
        .btn-aceptar
            background-image linear-gradient(to right, #003B94 , #009A8C)
            span
                font-size 14px
                color white
                font-weight bolder
    .contenido
        width 100%
        height 100%
        h2
            font-size 25px
