@import  '../../../../defaults.styl'
.contacto-container
    display flex
    justify-content center
    min-height 100vh
    .contacto-content
        width 1300px
        .encima
            position relative
            .imagen-fondo
                width 100%
                background-image: url("/assets/images/foto-14.png");
                background-position center
                background-size cover
                background-repeat no-repeat
                height 50vh
            .barra-nosotros
                height 30vh
                width 100%
                background-image linear-gradient(to right, #003B94 , #009A8C)
            contactoHome
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
                -webkit-transform translate(-50%, -50%)


