.perfil-proyectos-container
    .perfil-proyectos-content
        informacionproyecto([proyectos]="proyecto", [options]="options")
        chipServicios([id]="proyecto.id")
        imagenesproyectos([proyectos]="proyecto")
        //-usauriosproyecto