.perfil-proyectos-container
    mat-card.perfil-proyectos-content
        informacionproyecto([proyectos]="proyecto", [options]="options")
        imagenesproyectos([proyectos]="proyecto")
        //-usauriosproyecto