@import  '../../../../../defaults.styl'
.proyectos
    display flex
    flex-direction row
    justify-content center
    align-items flex-start
    width 1300px
    @media mediana 
        width 1000px
    @media tablet
        width 768px
    @media mobile 
        width  340px
    fotoPerfil
        width 195px
    proyectosInversionista
        width 1105px